---
title: Discord Internet Forum
---
<!doctype html>
<html
  lang="en"
  data-theme="dif-dark"
  class="bg-primary"
>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">

    {% comment %} Favicons generated with realfavicongenerator.net {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#1e2e3e">
    <meta name="theme-color" content="#1e2e3e">

    <link rel="stylesheet" href="/styles.css">
    <title>{{ title }}</title>
  </head>

  <body class="mx-auto max-w-screen-lg py-12">
    <header class="mb-8">
      <a class="hover:no-underline" href="/">
        <div class="text-slate-300">
          <p class="max-w-fit border-b-2 border-b-red-700 pr-4 text-4xl">{{ title }}</p>
          <p class="text-md">Almost like in the good old days</p>
        </div>
      </a>
    </header>
    <div data-theme="dif-light">
      <main>{{ content }}</main>
    </div>
  </body>
</html>
